



/* ######################################################################################################

** ### Vorbereitende Ma�?nahmen | Reset ##################################################################

** ######################################################################################################

*/

	/* Hiermit werden die Randabstände und border aller HTML-Elemente auf Null gesetzt. Damit wird das       

	** Aussehen der Webseite in unterschiedlichen Browsern vereinheitlicht. 

	*/

	

	* { margin:0; padding: 0; } 



	/* Das zurücksetzen der Innen- und Au�?enabstände verursacht zu kleine Selectboxen. Dies wird korrigiert */

	option {padding-left: 0.4em}

	

	/*

	** Die nachfolgenden Angaben entstammen dem Artikel 'Useful Code Snippets' von Mike Foskett

	** [http://www.websemantics.co.uk/tutorials/useful_css_snippets/]

	*/

	

	/* Vertikalen Scrollbalken im Netscape & Firefox erzwingen. Dies verhindert, dass zentrierte Layouts 

	** um 10 Pixel springen wenn der Seiteninhalt kleiner wird als die Höhe des Browserfensters. */

	html { height: 100% } 

	body { 

	/*	min-height: 101%;	*/

	/* Beseitigung des Rundungsfehlers bei Schriftgrö�?en im Opera sowie Standardformatierungen */

		font-size: 100.01%; 

	/* FIX: Verhindert, dass positionierte Elemente nicht verschoben werden when die Grö�?e des Browser 

			Fensters geändert wird. */

		position: relative; 

	

	/* Vorgabe der Standardfarben und Textausrichtung*/     

		color: #000;        

		background: #fff;

		text-align: left; 

	} 

	

	/* Standardrahmen zurücksetzen */

	fieldset, img { border:0; }

	

	/* Anpassung für Safari Browser. font-size:100% ist für den Safari in Formularen zu gro�? */ 

	select, input, textarea { font-size: 99% }

	
/* ######################################################################################################

** ### Markupfreie CSS-Floatclearing-Lösungen ###########################################################

** ######################################################################################################

*/



	/* Clearfix-Methode zum Clearen der Float-Umgebungen */
	 .clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}

	.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix  {height: 1%;}

.clearfix  {display: block;}

/* End hide from IE-mac */

/* Diese Angabe bentigt der Safari-Browser zwingend !! */
	.clearfix  { display: block; } 

	/* Overflow-Methode zum Clearen der Float-Umgebungen */
	.clearfix  { overflow:hidden; }

	/* IE-Clearing: Bentigt nur der Internet Explorer und er iehacks.css zugeschaltet */

	#ie_clearing { display: none }

	



	

/* ####################################### Ende Clearing ####################################### */

/* ######################################################################################################

** ### Skiplink-Navigation ##############################################################################

** ######################################################################################################

*/

body { 
  font: 13px Arial, sans-serif;
  color:#000;
  font-size: 13px;
  background-color: #fff;
  margin:17px;
  -moz-hyphens: auto;
    word-wrap: break-word;
  }

html, body {

  height:100%; 
}




/* -------------- Start Plugin CSS - CSS Implementation erst ab hier ------------------- */


 .exaLabel-Tabs ul {
	list-style: none outside none;
    margin: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 30px;
    float: left;
}

 .exaLabel-Tabs ul > li {
	float: left;
	display: block;
    position: relative;
    border-left: 1px solid #e7e6e6;
    border-collapse: collapse;
}

 .exaLabel-Tabs ul > li:last-child {
    border-right: 1px solid #cacaca;
}

 .exaLabel-Tabs ul > li:first-child {
    border-left: 1px solid #cacaca;
}

 .exaLabel-Tabs ul > li > a {
	display: block;
    position: relative;
    padding: 10px 8px;
    background-color: #f6f6f6;
}

 .exaLabel-Tabs ul > li > a:after {
	content: '>';
	padding-left: 10px;
	color: #969696;
	font-weight: normal;
}


 .exaLabel-Tabs ul > li > a:hover {
    background-color: #f6f6f6;
}

 .exaLabel-Tabs ul > li.active > a {
    background-color: #e2e2e2;
}

.exaLabel-Table {
	min-width: 800px;
	border-collapse: collapse;

}

.exaLabel-Table, .exaLabel-Table td, .exaLabel-Table thead > th {
	border-collapse: collapse;
    border: 1px solid #cacaca;
}




/* -------------- UNI Krems ------------------- */

 .exaLabel-Tabs ul {
    border-top: 4px solid #01267f;
}

 .exaLabel-Tabs ul > li > a {
	text-transform: uppercase;
	background-color: #fff;
	color: #585858;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
}

 .exaLabel-Tabs ul > li.active > a,  .exaLabel-Tabs ul > li > a:hover  {
    background-color: #e6e5ea;
}

.exaLabel-Table th {
	background-color: #01267f;
	color: #fff;
}

.exaLabel-Table-Head h1 {
	font-size: 17px;
}

.exaLabel-Table th {
	background-color: #01267f;
}

.exaLabel-Table-Head {
	width: 100%;
}

.exaLabel-Table-Head th {
	padding: 10px;
	width: 33%;
}

.exHeSe {
	text-align: center;
	text-transform: uppercase;
}

.exHeTh {
	text-align: right;;
}

.exaLabel-Description-head h2 {
	font-size: 17px;
}

.exaLabel-Description-head p {
	margin-top: 15px;
}

.exaLabel-Table tbody td {
	padding: 0.5em;
}

.exaLabel-Table tbody tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.exaLabel-Table tbody .exaLabel-Description, .exaLabel-Table tbody .exaLabel-Description-head {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #01267f;
	background-color: #fff;
}

.exaLabel-Table tbody .exalabel-topic {
	text-align: center;
	font-weight: bold;
}

.exaLabel-Table tbody .exalabel-topic .exalabel-topic-title {
	text-align: left;
}

.exaLabel-Description-head {
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
}

.exaLabel-Table tbody .exalabel-row {
	padding-left: 25px;
}

.exaLabel-Table tbody .exalabel-Angaben-Audit td {
	text-align: center;
}

.exalabel-row-more, .exalable-right, .exaLabel-Table tbody .exalabel-Angaben-Audit td.exalabel-row-right {
	text-align: right;
	vertical-align: top;
}

.exaLabel-Table tbody .exalabel-Angaben td, .exaLabel-Table tbody .exalabel-Angaben-Audit td.exalabel-row-right {
	width: 50%;
}

.exaLabel-Table tbody td.exalabel-row25 {
	width: 25%;
}

.exaLabel-Table tbody .exalabel-row-right {
	text-align: right;
}

.exaLabel-Table tbody .exalabel-Angaben input {
	width: 95%;
}

.exaLabel-Table tbody .exalabel-submit td {
	padding: 20px;
}

.exaLabel-Table tbody .exalabel-submit td.exalable-right {
	border-left: none !important;
}

.exaLabel-Table tbody .exaLabel-evaluation-head td {
	
	text-align: center;
	width: 33%;
	color: #01267f;
}

.exaLabel-Table tbody .exaLabel-evaluation-head td.exa-alert {
	background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    font-weight: bold;
}

.exaLabel-Table tbody .exaLabel-evaluation-head td.exa-error {
	background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    font-weight: bold;
}

.exaLabel-Table tbody .exaLabel-evaluation-head td.exa-ok {
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    font-weight: bold;
}

 -Award {
	margin: 40px auto;
	max-width: 960px;
	 border: 1px solid #cacaca;
	 box-shadow: 0 0 5px rgba(50, 50, 50, 0.21);
	 padding: 30px;
	 font-size: 14.5px;
}

 -Award p,  -Award h1 {
	text-align: center;
}

 -Award .exaLabel-AwardLogo,  -Award .exaLabel-AwardLogo img {
	width: 140px;
	margin: 0 auto;
}

 -Award .exaLabel-AwardLabel,  -Award .exaLabel-AwardLabel img {
	width: 240px;
	margin: 0 auto;
} 

 -Award .exaLabel-AwardLogo {
	margin-bottom: 30px;
}

 -Award h1 {
	font-weight: normal;
	font-size: 38px;
	margin-bottom: 40px;
	color: #01267f;
}

 -Award p.exaLabel-Award-Course {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

 -Award .exaLabel-AwardDate {
	text-align: left;
}

table.exaLabel-AwardDate {
	border: none;
	width: 90%;
	margin: 0 auto;
}

table.exaLabel-AwardDate td {
	width: 50%;
	padding: 20px;
}
